firebase_admin~=7.0.0
requests~=2.32.4
dotenv~=0.9.9
python-dotenv~=1.1.1
langchain~=0.3.27
langchain-core~=0.3.72
langchain-google-genai~=2.1.8
transformers~=4.54.0
langgraph~=0.5.4
protobuf~=6.31.1
serpapi~=0.1.5
Flask~=3.1.1
pydub~=0.25.1
elevenlabs~=2.8.1
twilio~=9.7.0
torch~=2.7.1
