setuptools
wheel
python-dotenv
langchain
langchain-core
transformers
langgraph
langgraph-prebuilt
firebase-admin
google-generativeai==0.8.5 # Pinned to a specific version for stability
google-api-core
protobuf             # Explicitly added as a common dependency
google-search-results
requests
Flask
pydub
elevenlabs
twilio
gunicorn
torch
