setuptools
wheel
python-dotenv
langchain
langchain-core
langchain-google-genai==2.1.5 # Re-added and pinned
transformers
langgraph
langgraph-prebuilt
firebase-admin
google-generativeai==0.8.5
google-api-core
protobuf
google-search-results
requests
Flask
pydub
elevenlabs
twilio
gunicorn
torch
